@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;500;800&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
    transition: 0.3s all ease-in-out;
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to top,rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)), url('./../img/bg-image.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

html {
    font-family: "Saira Condensed", sans-serif;
    color: #262626;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    /* -ms-overflow-style: scrollbar; */
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

/* START LEFT SIDE NAV */

.nav-toggle-wrap {
    width: 100px;
    height: 100px;
    position: fixed;
    z-index: 1001;
    cursor: pointer;
}

.nav-toggle-wrap:hover .nav-toggle .line:nth-child(2) {
    width: 100%;
}

.nav-toggle-wrap .nav-toggle {
    width: 50px;
    height: 50px;
    position: fixed;
    left: 20px;
    top: 20px;
}

.nav-toggle-wrap .nav-toggle .line {
    height: 3px;
    width: 100%;
    background: #bd93bd ;
    margin: 5px 0;
    transition: 0.5s all ease-in-out;
}

.nav-toggle-wrap .nav-toggle .line:nth-child(2) {
    width: 80%;
}

.left-side-nav-wrap.active {
    display: block;
    position: fixed;

}

.left-side-nav-wrap.active nav ul {
    transform: none;
    position: relative;
    height: 100%;
    margin: 0 auto;
    left: 0;
    text-align: center;
    /* width: auto; */
    padding-top: 200px;
  }
  
  .left-side-nav-wrap.active .screen-nav-item {
    color: #bd93bd;
    display: block;
  
    transition: 0.2s all ease-in-out;
  }
  
  .left-side-nav-wrap.active .screen-nav-item::after {
    content: "";
    left: 50%;
  }
  
  .left-side-nav-wrap.active {
    position: relative;
    height: 100px;
    width: 100%;
    z-index: 1000;
  }
  
  .left-side-nav-wrap.active {
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 0;
  }
  
  .left-side-nav-wrap.active nav {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .left-side-nav-wrap.active ul {
    width:100%;
  }
  

.left-side-nav-wrap {
    position: fixed;
    background: #262626;
    height: 100vh;
    width: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.left-side-nav-wrap nav {
    width: 100%;
    height: 100%;
    position: relative;
}

nav ul {
    width: 100vh;
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 25px;
    transform: rotate(-90deg);
    transform-origin: left;
}

.screen-nav-item {
    color: #bd93bd;
    display: inline-block;
    padding: 10px;
    position: relative;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.screen-nav-item::after {
    content: "";
    display: none;
    position: absolute;
    width: 10px;
    height: 10px;
    background: #bd93bd;
    /* border-radius: 50%; */
    left: 100%;
    transform: translateX(-100%);
    transition: 0.3s all ease-in-out;
    animation-name: rotate;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes rotate {
    100% {
        opacity: 1;
        transform: rotate(500deg);
    }
    0% {
        opacity: 0;
        transform: rotate(0deg);
    }

    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}

.screen-nav-item.active::after,
.screen-nav-item:hover::after {
    display: block;
}

.screen-nav-item:hover::after {
    display: block;
}

.screen-nav-item a {
    text-decoration: none;
    color: #bd93bd;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
/* END LEFT SIDE NAV */

/* START MAIN SECTION */

.screen-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* height: 50vh; */
    /* padding-right: 15%; */
    text-align: left;
}

.screen-1 {
    font-size: 50px;
    line-height: 1em;
}

.screen-1 h1:nth-child(2) {
    padding-left: 30px;
    font-size: 45px;
    text-align: left;
}

/* END MAIN SECTION */

/* START GLOBAL */

.section-title {
    font-size: 30px;
    text-align: right;
}

.title-3 {
    font-size: 18px;
    font-weight: 300;
}

/* END GLOBAL */

/* START SKILLS */

.screen-2 {
    display: flex;
    padding-left: 30%;
    margin-bottom: 10rem;
}

.screen-2 .skills-section {
    margin-left: 10px;
    padding-left: 30px;
    border-left: 1px solid #bd93bd83;
}

.screen-2 .skills-section .skill-row {
    display: flex;
    margin-bottom: 15px;
}

.screen-2 .skills-section .skill-list {
    display: flex;
}

.screen-2 .skills-section .skill-title {
    margin-right: 15px;
    color: #bd93bd;
    font-style: italic;
    font-size: 16px;
    font-weight: 500;
}

.screen-2 .skills-section .skill-item {
    margin-right: 10px;
    font-size: 16px;
}

/* END SKILLS */

/* PROJECTS SECTION */

.screen-3 {
    padding-left: 15%;
    margin-bottom: 10rem;
}

.screen-3 .section-title {
    text-align: left;
    margin-bottom: 3rem;
}

.screen-3 .projects-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 85%;
}

.screen-3 .project-card {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 3px;
    z-index: 10;
    position: relative;
    background: #fff;
    height: 100%;
}

.screen-3 .project-card-wrapper {
    position: relative;
    /* flex-basis: 33.333%; */
    /* padding: 0px 3%; */
    margin-bottom: 3rem;
}

.screen-3 .project-card-wrapper::before {
    content: "";
    position: absolute;
    width: 85%;
    height: 95%;
    top: -1%;
    left: -4px;
    border: 1px solid #bd93bd;
    z-index: -5;
    transition: 0.3s all ease-in-out;
    transform: rotate(1deg);
    border-style: dashed;

    /* border-left-width: 10px; */
}

/* .screen-3 .project-card-wrapper:hover::before {
    left: -2px;
    top: -2px;
    transform: rotate(0deg);
    width: 102%;
    height: 102%;
} */

/* .screen-3 .project-card-wrapper::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 10px;
    top: 10px;
    border: 2px solid #BD93BD;
    z-index: 30;
} */

.screen-3 .project-card img {
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.screen-3 .project-card .top-image {
    position: relative;
}

.screen-3 .project-card .card-title {
    position: absolute;
    background: #262626;
    height: 20px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    color: #bd93bd;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-weight: 100;
}

.screen-3 .project-card .card-description {
    padding: 20px 10px;
}

.screen-3 .project-card .pr-technologies {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.screen-3 .project-card .card-tech {
    font-size: 16px;
    font-weight: 600;
    color: #bd93bd;
}

/* END PROJECTS SECTION */

/* START EDUCATION SECTION */

.screen-4 {
    display: flex;
    /* padding-left: 24%; */
    /* margin-bottom: 10rem; */
}

.screen-4 .ed-timeline {
    margin-left: 10px;
    padding-left: 30px;
    border-left: 1px dashed #bd93bd83;
    margin-bottom: 5rem;
}

.screen-4 .ed-timeline .timeline-box {
    width: 60%;
    margin-bottom: 4rem;
}

.screen-4 .ed-timeline .time {
    position: relative;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-bottom: 0px;
    color: #bd93bd;
    font-weight: 500;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 10px;
}

.screen-4 .ed-timeline .exp-title {
    margin-bottom: 15px;
}

.screen-4 .ed-timeline .time::before {
    position: absolute;
    content: "";
    left: 0px;
    bottom: 0px;
    width: 10px;
    height: 10px;
    border: 1px solid #bd93bd;
}

.screen-4 .ed-timeline .time::after {
    position: absolute;
    content: "";
    left: 0px;
    bottom: 0px;
    width: 80%;
    height: 1px;
    border-bottom: 1px solid rgba(189, 147, 189, 0.329);
    /* border-style: dashed; */
}

/* END EDUCATION SECTION */

.screen-5 .content-wrap {
    width: 100%;
    height: 100%;
    display: flex;
}

.screen-5 .content-wrap .left-block {
    height: 100%;
    flex: 1;
}

.screen-5 .content-wrap .right-block {
    height: 100%;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-5 .content-wrap .left-block .map-container {
    width: 100%;
    height: 100%;
}

.screen-5 .social-icons {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

/* .screen.contact .title {
    color: #e94f37;
    font-size: 24px;
    text-decoration: underline;
    margin-bottom: 20px;
  } */

.screen-5 .social-icons img {
    width: 40px;
    margin-right: 10px;
}

.screen-5 .social-icons li {
    padding: 0;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.screen-5 h4 {
    margin-bottom: 10px;
}

.screen-5 h4 span {
}

.screen-5 .social-icons a {
    padding: 10px;
    cursor: pointer;
    display: block;
    padding: 0;
    text-decoration: none;
    color: #262626;
    display: flex;
    align-items: center;
}

.email-icon,
.social-icon {
    width: 30px;
    fill: #bd93bd;
    margin-right: 10px;
}

.link {
    color: #bd93bd;
    text-decoration: underline;
}

code {
    margin: 3px 3px;
    background:rgba(182, 182, 182, 0.302);
    padding: 2px 3px;
    border-radius: 3px;
}

/************************************************ END CONTACT SECTION */


/* responsive styles */


@media (min-width: 0px) {

    .left-side-nav-wrap {
        background: #fff;
        width:40px;
    }

    .section-title {
        font-size: 16px;
        min-width: 80px;
    }

    .screen-1 {
        height: 50vh;
        padding-left: 30%;
    }

    .screen-2 {
        padding-left: 20px;
    }

    .screen-4 {
        padding-left: 20px;
        margin-bottom: 4rem;
    }

    .screen-3 {
        margin-bottom: 4rem;  
    }

    .nav-toggle-wrap .nav-toggle .line {
        background: #262626;
    }

    .screen-3 .project-card-wrapper {
        position: relative;
        flex-basis: 100%;
        padding: 0px 1%;
    }

    .screen-5 .content-wrap {
        flex-direction: column;
    }

    .screen-5 .content-wrap .left-block {
        order: 3;
    }
}

@media (min-width: 576px) {

    .section-title {
        font-size: 18px;
        min-width: 80px;
    }

    .nav-toggle-wrap .nav-toggle .line {
        background: #bd93bd;
    }

    .screen-3 .project-card-wrapper {
        flex-basis: 50%;
        padding: 0px 3%;
    }
    
}

@media (min-width: 768px) {
    .screen-1 {
        height: 50vh;
    }

   

    .screen-2 {
        padding-left: 150px;
    }

    .screen-4, screen-3 {
        padding-left: 150px;
        margin-bottom: 6rem;
    }

    
    .left-side-nav-wrap {
        background: #262626;
        width:50px;
    }

}

@media (min-width: 992px) {


    .left-side-nav-wrap {
        width:100px;
    }

    .section-title {
        font-size: 20px;
        min-width: 90px;
    }

    .screen-3 .project-card-wrapper {
        flex-basis: 33.333%;
    }

    .screen-2 {
        padding-left: 25%;
    }

    .screen-4 {
        padding-left: 25%;
    }

    
    .screen-5 .content-wrap {
        flex-direction: row;
    }

    .screen-5 .content-wrap .left-block {
        order: unset;
    }

}

@media (min-width: 667px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
    .section-title {
        font-size: 30px;
        min-width: 150px;
    }
}

@media (min-width: 1824px) {

}