@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
  transition: 0.3s all ease-in-out;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* -ms-overflow-style: scrollbar; */
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  overflow: hidden;
}

@-ms-viewport {
  width: device-width;
}

.invisible-links {
  display: none;
}

ul {
  list-style: none;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-size: 18px;
  line-height: 1.55;
  color: #262626;
  background-position: center;
  background-size: cover;
}

#boxes-decoration {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
  pointer-events: all;
  border: 4px solid black;
}

/******************************************************* START SCREEN STYLES */
.main-wrap {
  width: 100%;
  height: 100%;
  margin: 0;
  background: linear-gradient(#f5b941e0, #f5b941e0), url("../img/portfli_3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.scr-wrap {
  height: 100vh;
  width: 100%;
  max-width: calc(100% - 100px);
  max-height: 100%;
  position: relative;
  transition: 2s all ease-in-out;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  background: transparent;
  margin-left: 100px;
  transform: translate3d(0px, 0px, 0px);
  pointer-events: visibleStroke;
}

.screen {
  height: 100%;
  width: 100%;
  position: relative;
  background: transparent;
  background: rgba(255, 255, 255, 0.2);
  /* background-attachment: fixed; */
}

::-webkit-scrollbar {
  display: none;
}

/******************************************* START SCREEN HOME */

.screen-home {
  background: url("../img/portfli_3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: transparent;
}

.screen-home h1 {
  font-size: 130px;
  letter-spacing: 5px;
  color: #7eac42;
  text-shadow: 20px 20px 20px rgba(1, 1, 1, 0.4);
  animation: showFromLeft 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.screen-home h2 {
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 5px;
  color: #7eac42;
  text-shadow: 20px 20px 20px rgba(1, 1, 1, 0.4);
  padding: 0;
  margin: 0;
  margin-top: -20px;
  animation: showFromRight 1.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* .screen-home .profile-img {
  width: 200px;
  position: absolute;
  transform: translate(-50%, -30%);
  z-index: -5;
  border-radius: 4px;
  box-shadow: 20px 20px 20px rgba(1, 1, 1, 0.4);
} */

.screen-home .title-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
}

.surname {
  position: relative;
}

.surname::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  border: 10px solid #e94f37;
  background: transparent;
}

/******************************************* END SCREEN HOME */
/******************************************* START SCREEN PROJECTS */
code {
  font-weight: bold;
  margin-right: 10px;
}

.screen.projects {
  background: url("../img/portfolio_bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
}

.projects-container {
  height: 90%;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
}

.projects-video-container {
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%;
  height: auto;
  overflow-x: hidden;
  cursor: move;
}

.projects-desc-container {
  color: #262626;
  display: flex;
}

.projects-desc-wrap {
  position: relative;
  font-size: 12px;
  align-self: flex-end;
  height: 60%;
  overflow-y: hidden;
  z-index: 30;
}

.span-line {
  line-height: 30px;
}

.proj-desc-title {
  color: #7eac42;
  background: #262626;
  font-size: 18px;
  margin-bottom: 15px;
  padding: 4px;
  border-radius: 3px;
  line-height: 35px;
}

.text-tech {
  background: #e94f37;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px solid rgba(1, 1, 1, 0.2);
  /* margin-right: 10px; */
  margin-bottom: 20px;
}

.project-desc {
  background: #b9d8c28c;
  margin-bottom: 15px;
  padding: 10px;
}

.link {
  color: #e94f37;
  font-weight: 400;
  border-bottom: 2px solid #e94f37;
}

.projects-desc-wrap::after {
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  width: 40px;
  left: -45px;
  top: 0;
}

.screen.projects .section-title {
  align-self: flex-start;
}

.screen.projects .section-title h1 {
  font-size: 60px;
  color: #7eac42;
  transform: rotate(-90deg) translateX(-50%);
  text-shadow: 5px 5px 5px rgba(1, 1, 1, 0.1);
  position: relative;
  z-index: 30;
}

.projects-wrap {
  width: 100%;
  height: 60%;
  width: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: 200;
  align-self: flex-start;
  box-shadow: 20px 20px 20px rgba(1, 1, 1, 0.4);
  margin-top: 50px;
  animation-timing-function: none;
  cursor: move;
  pointer-events: none;
}

.project-wrap {
  position: relative;
  height: 100%;
  width: 100%;
  cursor: move;
  pointer-events: none;
}

.project-wrap .proj-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(1, 1, 1, 0.2), rgba(1, 1, 1, 1));
  cursor: move;
  pointer-events: none;
}

.project-wrap .overlay-content {
  position: absolute;
  width: 90%;
  height: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 20px;
}

.project-wrap .overlay-content h4 {
  color: #7eac42;
  font-size: 50px;
  font-weight: 300;
  text-transform: uppercase;
}

.project-wrap .overlay-content .video-btn {
  width: 300px;
  height: 40px;
  border: 1px solid #7eac42;
  color: #7eac42;
  text-align: center;
  background: transparent;
  cursor: pointer;
}

button:active,
button:focus {
  outline: none;
}

.project-wrap img {
  height: 100%;
}

.proj-indicators-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.proj-indicators-wrap .arrows {
  margin-top: 30px;
  cursor: pointer;
  height: 10px;
  min-width: 40px;
}

.proj-indicators-wrap .arrow-right span {
  position: relative;
  display: block;
  height: 3px;
  background: #7eac42;
  width: 100px;
}

.proj-indicators-wrap .arrow-right:hover {
  cursor: pointer;
}

.proj-indicators-wrap .arrow-right span:after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  background: #7eac42;
  border: 5px solid #7eac42;
  right: 0;
  top: -5px;
}

.ind-dot {
}

.proj-indicators-wrap .dots {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.dots .ind-dot {
  width: 15px;
  height: 15px;
  border: 3px solid #7eac42;
  background: transparent;
  display: inline-block;
  margin-top: 20px;
  z-index: 40;
  position: relative;
  cursor: pointer;
  margin-right: 5px;
  transition: 0.3s all ease-in-out;
}

.dots .ind-dot.active {
  background: #e94f37;
}

.dots .ind-dot:hover {
  transform: scale(1.1);
}

#project-desc {
  overflow-y: hidden;
}

#translate-img {
  display: flex;
  flex-direction: row;
}

/******************************** END SCREEN STYLES */

/******************************** START LETTER STYLES */

.letter-wrap {
  position: relative;
}

.letter-wrap:after {
  content: "";
  display: block;
  position: absolute;
  width: 130%;
  height: 100%;
  /* background: #fff; */
  top: 0;
  z-index: -1;
}

.letter-wrap p {
  font-size: 100px;
  font-weight: 700;
  color: #b9d8c2;
}

.letter-wrap p span {
  display: inline-block;
  position: relative;
  transform-style: preserve-3d;
  perspective: 500;
}

.letter-wrap p span::before,
.letter-wrap p span::after {
  /* display: none; */
  position: absolute;
  top: 0;
  left: -1px;
  transform-origin: left top;
  transition: all 0.3s ease-out;
  content: attr(data-text);
}

p span::before {
  z-index: 1;
  color: rgba(0, 0, 0, 0.2);
  transform: scale(1.1, 1) skew(0deg, 20deg);
}

.letter-wrap p span::after {
  z-index: 2;
  color: #7eac42;
  text-shadow: -1px 0 0.6px #7eac42, 0.6px 0 0.6px rgba(0, 0, 0, 0.8);
  transform: rotateY(-40deg);
}

.letter-wrap p span:hover::before {
  transform: scale(1.1, 1) skew(0deg, 5deg);
}

.letter-wrap p span:hover::after {
  transform: rotateY(-15deg);
}

.letter-wrap {
  /* border: 2px solid red; */
}

.letter-wrap {
  text-align: right;
}

.letter-wrap .letter-2 {
  font-size: 40px;
}

/* END LETTER STYLES */

/* START SCREEN STYLES */

/* END SCREEN STYLES */

/* START LEFT SIDE NAV */

.left-side-nav-wrap {
  position: fixed;
  background: #262626;
  height: 100vh;
  width: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.left-side-nav-wrap nav {
  width: 100%;
  height: 100%;
  position: relative;
}

nav ul {
  width: 100vh;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 25px;
  transform: rotate(-90deg);
  transform-origin: left;
}

.screen-nav-item {
  color: #7eac42;
  display: inline-block;
  padding: 10px;
  position: relative;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.screen-nav-item::after {
  content: "";
  display: none;
  position: absolute;
  width: 10px;
  height: 10px;
  background: #7eac42;
  /* border-radius: 50%; */
  left: 100%;
  transform: translateX(-100%);
  transition: 0.3s all ease-in-out;
  animation-name: rotate;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes rotate {
  100% {
    opacity: 1;
    transform: rotate(500deg);
  }
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }

  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

.screen-nav-item.active::after,
.screen-nav-item:hover::after {
  display: block;
}

.screen-nav-item:hover::after {
  display: block;
}

.screen-nav-item a {
  text-decoration: none;
  color: #7eac42;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/* END LEFT SIDE NAV */

/* START COMPASS ICON */

.compass {
  position: fixed;
  bottom: 25px;
  right: 25px;
}

/* END COMPASS ICON */

/* START SVG PATH */

.path {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* END SVG PATH */

.el-box {
  position: absolute;
  background: linear-gradient(#7eac4260, #7eac4260), url("../img/portflio1.jpg");
  /* background: linear-gradient(#7eac4260, #7eac4260); */
  /* background: #bde785; */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  box-shadow: 20px 20px 20px rgba(1, 1, 1, 0.4);
  transition: 0.5s all ease-in-out;
  z-index: 30;
  /* pointer-events: none; */
}

.el-box.hidden {
  opacity: 0;
  visibility: hidden;
  /* -webkit-animation: hideForAWhile 0.5s ease-in-out;
  -moz-animation: hideForAWhile 0.5s ease-in-out;
  -o-animation: hideForAWhile 0.5s ease-in-out;
  animation: hideForAWhile 0.5s ease-in-out; */
}

.el-box-top {
  position: absolute;
  box-shadow: 20px 20px 20px rgba(1, 1, 1, 0.4);
  background: linear-gradient(#7eac4260, #7eac4260);
  z-index: 50;
}

.hide-for-a-while {
  -webkit-animation: hideForAWhile 0.5s ease-in-out;
  -moz-animation: hideForAWhile 0.5s ease-in-out;
  -o-animation: hideForAWhile 0.5s ease-in-out;
  animation: hideForAWhile 0.5s ease-in-out;
}

@keyframes hideForAWhile {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

/* START POT */

#pot1 {
  width: 300px;
  height: 300px;
  position: absolute;
  right: 10%;
  bottom: 30%;
  z-index: 50;
  box-shadow: 20px 20px 20px rgba(1, 1, 1, 0.2);
  border-radius: 50%;
}

#scis {
  width: 100px;
  left: 20%;
  bottom: 10%;
  position: absolute;
}

.parallax {
  position: absolute;
  z-index: 50;
}
/* END POT */

/* START SKILLS */

.screen.skills {
  background: url("../img/portfolio_bg.jpg");
  /* background-attachment: fixed; */
  background-size: cover;
  background-position: center;
  position: relative;
  background: transparent;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  max-width: 70%;
  margin: 0 auto;
  position: relative;
}
.skill-col {
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 20px 20px 20px rgba(1, 1, 1, 0.2);
  background: linear-gradient(#7eac42a6, #7eac4296);
  transition: 0.5s all ease-in-out;
  position: relative;
  z-index: 50;
  border: 2px solid #7eac42;
}

.skill-wrap {
  transform: rotate(-45deg);
  font-weight: 300;
  color: #262626;
}

.skill-col.transparent {
  background: transparent;
  background-size: 100%;
  box-shadow: none;
  border: none;
}

.screen.skills .title-wrap {
  position: relative;
  font-size: 100px;
  color: #7eac42;
  padding-left: 20px;
  z-index: 40;
  position: relative;
  z-index: 10;
}

.screen.skills .title-wrap::after {
  display: block;
  content: "";
  position: absolute;
  background: #e94f37;
  width: 20%;
  height: 20%;
  left: -10px;
  bottom: 25px;
  z-index: -5;
}

.screen-content {
  background: transparent;
}

.screen.skills .screen-content {
  display: flex;
  flex-direction: column;
}

/* END SKILLS */

.nav-toggle-wrap {
  width: 100px;
  height: 100px;
  position: fixed;
  z-index: 1001;
  cursor: pointer;
}

.nav-toggle-wrap:hover .nav-toggle .line:nth-child(2) {
  width: 100%;
}

.nav-toggle-wrap .nav-toggle {
  width: 50px;
  height: 50px;
  position: fixed;
  left: 20px;
  top: 20px;
}

.nav-toggle-wrap .nav-toggle .line {
  height: 3px;
  width: 100%;
  background: #7eac42;
  margin: 5px 0;
  transition: 0.5s all ease-in-out;
}

.nav-toggle-wrap .nav-toggle .line:nth-child(2) {
  width: 80%;
}

.left-side-nav-wrap.active {
  display: block;
}

/*****screen nav */

.left-side-nav-wrap.active nav ul {
  transform: none;
  position: relative;
  height: 100%;
  margin: 0 auto;
  left: 0;
  text-align: center;
  width: auto;
  padding-top: 200px;
}

.left-side-nav-wrap.active .screen-nav-item {
  color: #7eac42;
  display: block;

  transition: 0.2s all ease-in-out;
}

.left-side-nav-wrap.active .screen-nav-item::after {
  content: "";
  left: 50%;
}

.left-side-nav-wrap.active {
  position: relative;
  height: 100px;
  width: 100%;
  z-index: 1000;
}

.left-side-nav-wrap.active {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0;
}

.left-side-nav-wrap.active nav {
  width: 100%;
  height: 100%;
  position: relative;
}

/************************************************ START RESPONSIVENESS */

/************************************************ START EDUCATION SECTION */

.screen.education h1 {
  font-size: 50px;
  color: #7eac42;
  text-shadow: 5px 5px 5px rgba(1, 1, 1, 0.1);
  position: relative;
  z-index: 30;
  padding-left: 15px;
}

.screen.education {
  background: url("../img/portfolio_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed; */
  background: transparent;
}

.timeline-wrap {
  position: relative;
  z-index: 300;
}

.ex-box {
  border-top: 4px solid #7eac42;

  position: relative;
}

.ex-box article {
  font-size: 14px;
}

.ex-box:nth-child(2n) {
  border-left: 4px solid #7eac42;
}

.ex-box:nth-child(2n) article {
  padding: 15px 15px 40px 15px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.9) 30%,
    rgba(255, 255, 255, 0) 70%
  );
}

.ex-box:nth-child(2n + 1) {
  border-right: 4px solid #7eac42;
  text-align: right;
}

.ex-box:nth-child(2n + 1) article {
  padding: 15px 15px 40px 15px;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.9) 70%,
    rgba(255, 255, 255, 0)
  );
}

.ex-box:last-child {
  border-bottom: 4px solid #7eac42;
}

.ex-box:nth-child(1) {
  width: 40%;
  margin-left: 50%;
}

.ex-box:nth-child(1):after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border: 4px solid #7eac42;
  position: absolute;
  top: -7px;
  left: 0px;
  background: #f6e7cb;
}

.ex-box:nth-child(2) {
  width: 50%;
  margin-left: 40%;
}

.ex-box:nth-child(3) {
  width: 20%;
  margin-left: 40%;
}

.ex-box:nth-child(4) {
  width: 50%;
  margin-left: 10%;
}

.ex-box:nth-child(5) {
  width: 80%;
  margin-left: 10%;
  text-align: right;
}

/************************************************ END EDUCATION SECTION */

/************************************************ START CONTACT SECTION */

.screen.contact .content-wrap {
  width: 100%;
  height: 100%;
  display: flex;
}

.screen.contact .content-wrap .left-block {
  height: 100%;
  flex: 1;
}

.screen.contact .content-wrap .right-block {
  height: 100%;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen.contact .content-wrap .left-block .map-container {
  width: 100%;
  height: 100%;
}

.screen.contact .social-icons {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.screen.contact .title {
  color: #e94f37;
  font-size: 24px;
  text-decoration: underline;
  margin-bottom: 20px;
}

.screen.contact .social-icons img {
  width: 40px;
  margin-right: 10px;
}

.screen.contact .social-icons li {
  padding: 0;
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.screen.contact h4 {
  margin-bottom: 10px;
}

.screen.contact h4 span {
}

.screen.contact .social-icons a {
  padding: 10px;
  cursor: pointer;
  display: block;
  padding: 0;
  text-decoration: none;
  color: #262626;
  display: flex;
  align-items: center;
}

/************************************************ END CONTACT SECTION */

@media (min-width: 1824px) {
  * {
    /* background: pink; */
  }
  .screen-home h1 {
    font-size: 12rem;
  }

  .screen-home h2 {
    font-size: 6rem;
  }

  .surname::after {
    width: 140px;
    height: 140px;
  }
}

@media (max-width: 1200px) {
  .screen-home h1 {
    font-size: 8rem;
  }

  .screen-home h2 {
    font-size: 4rem;
  }

  .surname::after {
    width: 130px;
    height: 130px;
  }
}

@media (max-width: 1200px) {
  .ex-box:nth-child(1) {
    width: 50%;
    margin-left: 40%;
  }

  .ex-box:nth-child(2) {
    width: 70%;
    margin-left: 20%;
  }

  .ex-box:nth-child(3) {
    width: 70%;
    margin-left: 20%;
  }

  .ex-box:nth-child(4) {
    width: 30%;
    margin-left: 60%;
  }

  .ex-box:nth-child(5) {
    width: 30%;
    margin-left: 60%;
    text-align: right;
  }
}

@media (max-width: 992px) {
  .ex-box:nth-child(1) {
    width: 40%;
    margin-left: 50%;
  }

  .ex-box:nth-child(2) {
    width: 70%;
    margin-left: 20%;
  }

  .ex-box:nth-child(3) {
    width: 70%;
    margin-left: 20%;
  }

  .ex-box:nth-child(4) {
    width: 30%;
    margin-left: 60%;
  }

  .ex-box:nth-child(5) {
    width: 30%;
    margin-left: 60%;
    text-align: right;
  }

  .ex-box article {
    font-size: 12px;
  }
}

@media (max-width: 667px) {
  .ex-box:nth-child(1) {
    width: 50%;
    margin-left: 40%;
  }

  .ex-box:nth-child(2) {
    width: 80%;
    margin-left: 10%;
  }

  .ex-box:nth-child(3) {
    width: 70%;
    margin-left: 10%;
  }

  .ex-box:nth-child(4) {
    width: 40%;
    margin-left: 40%;
  }

  .ex-box:nth-child(5) {
    width: 40%;
    margin-left: 40%;
    text-align: right;
  }
}

@media (max-width: 992px) {
  .screen-home h1 {
    font-size: 100px;
  }

  .screen-home h2 {
    font-size: 50px;
  }

  .skills-grid {
    width: 60%;
  }

  .skill-col {
    width: 130px;
    height: 130px;
  }

  .screen.skills h1 {
    font-size: 60px;
    margin-bottom: 15px;
  }

  .screen.education h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .surname::after {
    width: 90px;
    height: 90px;
  }

  .projects-wrap {
    height: 180px;
    flex: none;
  }
}
@media (max-width: 768px) {
  nav ul {
    transform: none;
    position: relative;
    height: 100%;
    margin: 0 auto;
    left: 0;
    text-align: center;
    width: auto;
    padding-top: 200px;
  }

  .screen-nav-item {
    color: #7eac42;
    display: block;

    transition: 0.2s all ease-in-out;
  }

  .screen-nav-item::after {
    content: "";
    left: 50%;
  }

  .left-side-nav-wrap {
    position: relative;
    height: 100px;
    width: 100%;
    z-index: 1000;
  }

  .left-side-nav-wrap {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
    display: none;
  }

  .left-side-nav-wrap nav {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .scr-wrap {
    margin-left: 0;
    width: 100%;
    max-width: 100%;
  }

  .screen-home h1 {
    font-size: 70px;
  }

  .screen-home h2 {
    font-size: 40px;
  }

  .skills-grid {
    width: 85%;
    margin-top: 10%;
  }

  .skill-col {
    width: 100px;
    height: 100px;
    font-size: 16px;
  }

  .screen.skills h1 {
    font-size: 40px;
    text-align: right;
    padding-right: 15px;
  }

  .projects-desc-container {
    flex-direction: column;
  }

  .screen.projects .section-title h1 {
    transform: none;
  }

  .screen.education h1 {
    font-size: 30px;
  }

  .projects-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .projects-desc-wrap {
    position: relative;
    height: 300px;
    background: #7eac42;
    align-self: auto;
    overflow-y: unset;
  }

  .projects-inner {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .projects-video-container {
    max-width: 100%;
  }

  .surname::after {
    width: 50px;
    height: 50px;
    border-width: 5px;
    top: 10px;
  }
}

@media (max-width: 576px) {
  .screen-home h1 {
    font-size: 40px;
  }

  .screen.education h1 {
    font-size: 20px;
  }

  .screen-home h2 {
    font-size: 20px;
  }

  .skills-grid {
    width: 95%;
  }

  .skill-col {
    width: 80px;
    height: 80px;
    font-size: 14px;
  }
}

@keyframes showFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes showFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
