* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .2s all ease-in-out;
}

@font-face {
    font-family: Montserrat-Medium, sans-serif;
    src: url('../fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: NunitoSans-Regular;
    src: url('../fonts/NunitoSans-Regular.ttf');
}


body {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: Lato-Black, sans-serif;
    font-size: 1rem;
    font-size: 100%;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    overflow-x: hidden;
}

/********************************************************* START NAVIGATION */

ul {
    list-style: none;
}

.navbar {
    height: 80px;
    width: 100%;
}

.navbar .d-flex {
    width: 100%;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.navbar .logo {
    width: 31px;
}

.navbar .logo img {
    width: 100%;
}

.navbar .navigation {
    height: 80px;
    text-align: center;
}

.navbar .navigation li {
    display: inline-block;
    height: 100%;
    cursor: pointer;
    padding: 0 15px;
}

.navbar .navigation li:last-child {
    padding-right: 0;
}

.navbar .navigation li a {
    text-decoration: none;
    line-height: 80px;
    transition: .2s all ease-in-out;
}

.navbar .navigation li:hover a {
    color: #10c9c3;
}

.navbar .navigation li.active a {
    color: #10c9c3;
}

.navbar .toggle {
    outline: none;
    border: none;
    width: 50px;
    height: 30px;
    padding: 4px;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
    background: none;
    display: none;
}

.navbar .toggle span.line {
    display: block;
    background: #75C8D6;
    height: 3px;
    width: 100%;
    margin-bottom: 5px;
}

.navbar .toggle span.line:last-child {
    margin-bottom: 0;
}

/********************************************************* END NAVIGATION */

/********************************************************* START LAND SECTION */

section {
    position: relative;
}

.container {
    max-width: 100%;
    width: 1166px;
    margin: 0 auto;
    position: relative;
}

.jumbotron-section {
    background: url('../img/laptop.png'), #e9e9e9;
    background-position: -10% 80%;
    background-repeat: no-repeat;
    height: 670px;
    padding-top: 10px;
}

.jumbotron-section .container {
    height: 100%;
    position: relative;
}

.jumbotron-section .text-wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    max-width: 100%;
    width: 500px;
}

.jumbotron-section h1 {
    margin-bottom: 30px;
}

.jumbotron-section p {
    margin-bottom: 39px;
}

button, button:focus {
    border: none;
    outline: none;
}

.btn {
    background: #10c9c3;
    padding: 22px 46px;
    cursor: pointer;
    transition: .3s all ease-in-out;
}

.btn:hover {
    background: #10c9c3d3;
}

.btn.text-4 {
    color: #fff;
}

/******************************************************** START ABOUT US SECTION */

.aboutus-section {
    background: #fff;
}

.py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.aboutus-section .text-wrap {
    width: 53%;
    margin: 0 auto;
}

.aboutus-section img {
    width: 223px;
}

.aboutus-section h2 {
    margin-bottom: 25px;
}

.aboutus-section p {
    margin-bottom: 37px;
}

/******************************************************** END ABOUT US SECTION */

/******************************************************** START SKILLS SECTION */

.skills-section {
    background: #f8f9f9;
}

.skills-section .content-wrap {
    max-width: 100%;
    width: 500px;
    margin: auto;
}

.skills-section .col-md-6.d-flex {
    justify-content: center;
    align-items: center;
    padding: 164px 100px;
}

.skills-section .skill-wrap {
    margin-top: 40px;
}

.skills-section .line-wrap {
    height: 3px;
    width: 100%;
    background: #d8d8d8;
    position: relative;
    z-index: 50;
}

.skills-section .skill-label {
    margin-bottom: 20px;
}

.skills-section .skill-label h4:first-child {
    margin-right: 15px;
}

.skills-section .line-wrap .percentage-bg {
    position: absolute;
    height: 3px;
    background: #10c9c3;
    top: 0;
    left: 0;
    z-index: 100;
}

.skills-section .line-wrap .percentage-bg.percent-75 {
    width: 75%;
}

.skills-section .line-wrap .percentage-bg.percent-90 {
    width: 90%;
}

.skills-section .line-wrap .percentage-bg.percent-65 {
    width: 65%;
}

.skills-section .col-md-6:nth-child(2) {
    background: #e9e9e9;
    padding: 25px 0px;
}

.skills-section .col-md-6:nth-child(2) .img-wrap {
    max-width: 100%;
    width: 410px;
    margin: 0 auto;
}

.skills-section .col-md-6:nth-child(2) .img-wrap img {
    width: 100%;
}

/******************************************************** END SKILLS SECTION */

/******************************************************** START SUMMARY SECTION */

.summary-section {
    background: #10c9c3;
    color: #fff;
}

.summary-section .count {
    font-weight: bold
}

.summary-section .icon {
    margin-right: 27px;
}

/******************************************************** END SUMMARY SECTION */

/******************************************************* START PORTFOLIO SECTION */

.portfolio-section .d-flex {
    height: 300px;
}

.portfolio-section .col-md-3.d-flex {
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.portfolio-section .col-md-3.bg-dark {
    background: #838383;
}

.portfolio-section .col-md-3.bg-light {
    background: #dddddd;
}

.portfolio-section .col-md-3 .link-overlay {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../img/pe-7-s-look.png'), rgba(0, 0, 0, .85);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: .3s all ease-in-out;
}

.portfolio-section .col-md-3 .link-overlay a {
    width: 100%;
    height: 100%;
    display: block;
}

.portfolio-section .col-md-3:hover .link-overlay {
    top: 0;
}

.load {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    background: #f5f5f5;
}

.load a {
    text-decoration: none;
    color: #8e8e8e;
}

/******************************************************* END PORTFOLIO SECTION */

/******************************************************** START FIELDS SECTION */

.fields-section {
    background: #f5f5f5;
}

.fields-section h3.text-4 {
    color: #191919;
    margin-bottom: 20px;
}

.fields-section .d-flex:first-child {
    margin-bottom: 50px;
}

.fields-section .col-md-3 {
    padding: 0 20px;
}

.fields-section .col-md-3 .img-wrap {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.fields-section .col-md-3 .img-wrap img {
    display: none;
}

.fields-section .col-md-3 .img-wrap.diamond {
    background: url('../img/pe-7-s-diamond.png') no-repeat center;
    background-size: contain;
}

.fields-section .col-md-3 .img-wrap.arc {
    background: url('../img/pe-7-s-arc.png') no-repeat center;
    background-size: contain;
}

.fields-section .col-md-3 .img-wrap.phone {
    background: url('../img/pe-7-s-phone.png') no-repeat center center;
    background-size: contain;
}

.fields-section .col-md-3 .img-wrap.game {
    background: url('../img/pe-7-s-joy.png') no-repeat center center;
    background-size: contain;
}

.fields-section .col-md-3 .img-wrap.plane {
    background: url('../img/pe-7-s-plane.png') no-repeat center center;
    background-size: contain;
}

.fields-section .col-md-3 .img-wrap.star {
    background: url('../img/pe-7-s-star_2.png') no-repeat center center;
    background-size: contain;
}

.fields-section .col-md-3 .img-wrap.wand {
    background: url('../img/pe-7-s-magic-wand.png') no-repeat center center;
    background-size: contain;
}

.fields-section .col-md-3 .img-wrap.bucket {
    background: url('../img/pe-7-s-paint-bucket.png') no-repeat center center;
    background-size: contain;
}

/******************************************************** END FIELDS SECTION */

.process-work-section .video-wrap {
    position: relative;
}

.process-work-section .video-wrap .video-overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.process-work-section .video-wrap .video-overlay span {
    width: 85px;
    height: 85px;
    position: relative;
    background: url('../img/arrow.png') #10c9c3;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 0px;
}

.process-work-section h2 {
    margin-bottom: 41px;
}

.process-work-section p {
    margin-bottom: 50px;
    width: 43%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.process-work-section .video-wrap .video-overlay span:hover {
    background: url('../img/arrow.png') #10c9c3d5;
    background-repeat: no-repeat;
    background-position: center;
}

.process-work-section .video-wrap .video-overlay span img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/******************************************************** START QUOTES SECTION */

.quotes-section p.text-2 {
    color: #fff;
}

.quotes-section {
    background: #10c9c3;
}

.quotes-section .text-wrap {
    width: 69%;
    margin: auto;
}

.quotes-section {
    padding-top: 170px;
    padding-bottom: 60px;
}

.quotes-section h5.text-4 {
    color: #fff;
    margin-top: 35px;
    margin-bottom: 100px;
}

.dots-wrap {
    justify-content: center;
}

.slider-dots {
    z-index: 500;
    width: 140px;
    justify-content: center;
    bottom: 90px;
}

.slider-dots li {
    display: inline-block;
    margin-right: 4px;
}

.slider-dots button {
    position: relative;
    width: 6px;
    height: 6px;
    border: 4px solid transparent;
    text-align: center;
    font-size: 0;
    line-height: 0;
    display: block;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: rgba(255, 255, 255, .7);
    border-radius: 50%;
}

.slider-dots button.active {
    border: 4px solid #fff;
    background: #fff;
}

.slider-dots button.active {
    background: #74c6d5c4;
}

/******************************************************** END QUOTES SECTION */

/******************************************************** START SEND FORM */

.send-form {
    background: #f5f5f5;
}

.send-form h2 {
    margin-bottom: 32px;
}

.send-form .form-title {
    margin-bottom: 35px;
}

.send-form input[type="text"], .send-form input[type="email"], textarea, .send-form input[type="text"]:focus, .send-form input[type="email"]:focus, textarea:focus {
    outline: none;
    border: none;
}

.send-form input[type="text"], .send-form input[type="email"], textarea, .send-form input[type="text"]:focus, .send-form input[type="email"]:focus, textarea:focus {
    padding: 15px;
    background: #fff;
}

.send-form form.d-flex {
    width: 100%;
}

.send-form form .d-flex .col-6:first-child {
    padding-right: 15px;
}

.send-form form .d-flex .col-6:last-child {
    padding-left: 15px;
}

.send-form .form-wrap {
    width: 670px;
    max-width: 100%;
    margin: 0 auto;
}

.send-form input, textarea {
    width: 100%;
    resize: none;
}

.send-form .form-input {
    margin-bottom: 30px;
}

.send-form .btn-wrap {
    width: 100%;
    text-align: center;
}

.send-form .btn-wrap .btn {
    margin: 0 auto;
}

.send-form input[type="text"], .send-form input[type="email"], textarea, .send-form input[type="text"]::placeholder, .send-form input[type="email"]::placeholder, textarea::placeholder {
    font-size: 1rem;
    font-family: NunitoSans-Regular, sans-serif;
    color: #787878;
    line-height: 1.5em;
    letter-spacing: 0.08px;
}

/******************************************************** END SEND FORM */

/******************************************************** START FOOTER */

footer {
    background: #141414;
    padding-left: 100px;
    padding-right: 100px;
    color: #fff;
}

footer ul {
    list-style: none;
}

footer a, footer p {
    text-decoration: none;
    color: #bcbcbc;
    font-size: 15px;
    letter-spacing: 0.08;
}

footer .left-footer {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
}

footer .left-footer .text-wrap {
    width: 60%;
    max-width: 100%;
}

footer .left-footer .text-wrap h4 {
    font-family: Montserrat-Medium, sans-serif;
    font-size: 18px;
    color: #fff;
    margin-bottom: 27px;
}

footer .right-footer {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
    justify-content: space-between;
}

footer .right-footer .site-map ul:first-child {
    margin-right: 50px;
}

/******************************************************** END FOOTER */

.partners-section {
    height: 200px;
    background: #fff;
}

.partners-section .container {
    align-items: center;
}

.partners-section .container .d-flex {
    height: 100%;
    flex-wrap: wrap;
}

.partners-section .container .logo {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.text-1 {
    font-family: Montserrat-Medium, sans-serif;
    font-size: 2.375rem;
    color: #1d1d1d;
}

.text-2 {
    font-size: 1.875rem;
    font-family: Montserrat-Medium, sans-serif;
    color: #171717;
    letter-spacing: 0.3px;
}

.text-3 {
    font-size: 1rem;
    font-family: NunitoSans-Regular, sans-serif;
    color: #787878;
    line-height: 1.5em;
    letter-spacing: 0.08px;
}

.text-4 {
    font-family: Montserrat-Medium, sans-serif;
    font-weight: bold;
    font-size: 0.75rem;
    letter-spacing: 1.2px;
    color: #000;
}

.text-5 {
    font-family: Montserrat-Medium, sans-serif;
    font-weight: bold;
    font-size: 0.75rem;
    letter-spacing: 1.2px;
    color: #fff;
}

.text-6 {
    font-family: Montserrat-Medium, sans-serif;
    font-size: 1.125rem;
}

.text-7 {
    font-family: Montserrat-Medium, sans-serif;
    font-size: 1.5rem;
    color: #fff;
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}

.uppercase {
    text-transform: uppercase;
}

img {
    width: 100%;
    vertical-align: middle;
}

/************************************************ START RESPONSIVE STYLES */

@media (max-width:1024px) {
    .container {
        width: 900px
    }
}

@media (max-width:992px) {
    .navbar .navigation li {
        padding: 0 10px;
    }
    .portfolio-section .img-wrap {
        width: 100px;
    }
    .portfolio-section .d-flex {
        height: 200px;
    }
    .portfolio-section .d-flex {
        height: auto;
    }
    .jumbotron-section .text-wrap {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(255, 255, 255, .9);
        border-radius: 5px;
        padding: 15px 30px;
        width: 70%;
    }
    .text-1 {
        font-family: Montserrat-Medium, sans-serif;
        font-size: 1.875rem;
        color: #1d1d1d;
    }
    .py-100 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .aboutus-section .text-wrap {
        width: 73%;
    }
    .skills-section .col-md-6.d-flex {
        justify-content: center;
        align-items: center;
        padding: 100px 50px;
    }
    .skills-section .content-wrap {
        max-width: 100%;
        width: 90%;
    }
    .summary-section .sum-item {
        text-align: center;
    }
    .summary-section .sum-item {
        flex-direction: column;
    }
    .summary-section .icon {
        margin: 0 auto;
        height: 40px;
    }
    .fields-section .col-md-3 {
        min-height: 180px;
        margin-bottom: 20px;
    }
    .fields-section .col-md-3 .text-4 {
        margin-bottom: 10px;
    }
    .fields-section .col-md-3 .img-wrap {
        margin-bottom: 15px;
    }
    .process-work-section p {
        width: 60%;
    }
    .quotes-section .text-wrap {
        width: 69%;
    }
    .quotes-section {
        padding-top: 100px;
    }
    .quotes-section h5.text-4 {
        margin-top: 35px;
        margin-bottom: 100px;
    }
    .text-7 {
        font-size: 1.2rem;
    }
    .partners-section .img-wrap {
        width: 80px;
    }
    footer {
        padding-left: 70px;
        padding-right: 70px;
    }
    footer .left-footer {
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%;
    }
    footer .right-footer {
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
        max-width: 70%;
        justify-content: space-between;
    }
}

@media (max-width:720px) {
    .container {
        width: 600px;
    }
    .navbar-collapse.active {
        display: block;
    }
    .navbar-collapse {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-align: center;
        align-items: center;
        z-index: 1000;
        display: none;
    }
    .navbar .toggle {
        display: block;
    }
    .navbar .navigation li {
        display: block;
        background: #fff;
        border-bottom: 1px solid #d8d8d8;
    }
    .navbar .navigation li a {
        vertical-align: middle;
        width: 100%;
        height: 100%;
        text-align: center;
        display: block;
    }
    .navbar .navigation li:hover a {
        color: #10c9c3;
    }
    .navbar .navigation li {
        padding: 0;
    }
    .navbar .navigation li:last-child {
        margin-right: 0px;
    }
    .col-md-3, .partners-section .container .logo {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .portfolio-section .col-md-3 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .order-0 {
        order: 0;
    }
    .order-1 {
        order: 1;
    }
    .order-2 {
        order: 2;
    }
    .order-3 {
        order: 3;
    }
    .jumbotron-section {
        height: 100vw;
        min-height: 100vh;
    }
    .jumbotron-section .text-wrap {
        width: 90%;
    }
    .skills-section .col-md-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .skills-section .col-md-6.d-flex {
        padding: 100px 50px;
    }
    .skills-section .col-md-6:nth-child(2) .img-wrap {
        width: 200px;
    }
    .skills-section .img-wrap img {
        width: 100%;
    }
    .skills-section .content-wrap {
        max-width: 100%;
        width: 90%;
    }
    .summary-section .sum-item {
        padding: 10px;
        margin-bottom: 20px;
    }
    .partners-section, .partners-section .container .d-flex {
        height: auto;
    }
    .partners-section .container .logo {
        height: 100px;
        border-bottom: 1px solid #e9e9e9;
    }
    footer {
        padding-left: 50px;
        padding-right: 50px;
    }
    footer .left-footer, footer .right-footer {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    footer .left-footer .text-wrap {
        margin-bottom: 15px;
        width: 100%;
    }
    footer .right-footer {
        flex-direction: column;
    }
    footer .right-footer .mb-5 {
        margin-bottom: 20px;
    }
}

@media (max-width:480px) {
    .container {
        width: 100%;
    }
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .skills-section .col-md-6.d-flex {
        padding: 60px 20px;
    }
    .summary-section .col-md-3, .fields-section .col-md-3, .send-form .col-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .fields-section .col-md-3 {
        min-height: 150px;
    }
    .send-form form .d-flex .col-6:first-child, .send-form form .d-flex .col-6:last-child {
        padding-left: 0;
        padding-right: 0;
    }
    .send-form .form-input {
        margin-bottom: 15px;
    }
    footer {
        padding-left: 15px;
        padding-right: 0
        15px;
    }
}

/************************************************ END RESPONSIVE STYLES */