@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    transition: .2s all ease-in-out;
    color: #3b3b3b;
    font-size: 18px;
}

а {
    text-decoration: none;
    display: inline-block;
    background: green;
    margin-right: 15px;
}

.page-wrap {
    position: relative;
    z-index: 10;
    background: #FF5F6D;
    background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);
    background: linear-gradient(to right, #FFC371, #FF5F6D);
    min-height: 100%;
    padding: 30px 0;
}

.container {
    width: 80%;
    max-width: 100%;
    margin: auto;
    z-index: 100;
    position: relative;
    padding-top: 30px;
}

.table-container {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}

svg {
    width: 25px;
    height: 25px;
    color: #fff;
}

tr {
    transition: .2s all ease-in-out;
}

th, td {
    background: #fff;
    padding: 30px;
    border-bottom: 1px solid #80808038;
}

table thead th {
    background: #EB4D4D;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 300;
    border-right: 1px solid #fff;
}

tr:hover .action-wrap ul li a {
    opacity: 1;
}

.action-wrap {
    margin: 0 auto;
    text-align: center;
}

.action-wrap ul li {
    display: inline-block;
    margin-right: 10px;
}

.action-wrap ul li a {
    display: block;
    padding: 10px;
    border-radius: 50%;
    transition: .2s all ease-in-out;
}

.action-wrap ul li a:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.action-wrap ul li a.delete {
    background: #FF5F6D;
    opacity: .5;
}

.action-wrap ul li a.edit {
    background: #43AA8B;
    opacity: .5;
}

.action-wrap ul li a.read {
    background: #FFBA49;
    opacity: .5;
}

.filter-container {
    margin-bottom: 30px;
    height: 60px;
    /* background: yellow; */
    position: relative;
}

/* .filter-container .search-box {
    display: inline-block;
} */

.search-box input, .search-box select {
    padding-left: 10px;
    color: #808080;
    font-size: 18px;
}

.search-box {
    width: 800px;
    background: #fff;
    width: 60px;
    overflow: hidden;
    transition: .3s all ease-in-out;
    border-radius: 35px;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    /* padding-left: 60px; */
    position: relative;
    border: 5px solid #FFBA49;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: #EB4D4D;
    cursor: pointer;
    /* width: 100%; */
}

.search-box .search {
    width: 100%;
}

.d-flex {
    display: flex;
}

.search-box input, .search-box select{
    display: block;
    background: transparent;
    outline: none;
    border: none;
    margin-right: 5px;
    border-right: 2px solid #FFBA49;
}

.search-box input[type="date"] {
    border-right: none;
}

.search-box .icon {
    display: block;
    background: transparent;
    border: none;
}

.search-box:nth-child(1) {
    z-index: 30;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer !important;
}

.search-box:nth-child(1) button {
    outline: none;
    border: none;
    background: #FFBA49;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search-box:nth-child(1) button svg {
    height: 30px;
    width: 30px;
}

.search-box:nth-child(2) {
    display: flex;
    padding-left: 100px;
    justify-content: flex-end;
    z-index: 20;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    min-width: 100px;
    width: 50px;
    background: #fff;
}

.search-box:nth-child(2).active {
    width: 70%;
}

.search-box:nth-child(2).active+.search-box:nth-child(3) {
    width: 80%;
    background: #43AA8B;
}   

.search-box:nth-child(2).active+.search-box:nth-child(3) .icon {
    width: 100%;
}

.search-box:nth-child(2) .icon {
    height: 100%;
    background: #EB4D4D;
    padding-right: 10px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    border-radius: 30px;
    /* margin-right: 30px; */
}

.search-box:nth-child(2) .search {
    display: flex;
}

.search-box:nth-child(3) {
    display: flex;
    padding-left: 150px;
    justify-content: flex-end;
    z-index: 10;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    min-width: 100px;
    width: 50px;
    z-index: 10;
    background: #fff;
}

.search-box:nth-child(3) .icon {
    height: 100%;
    background: #43AA8B;
    padding-right: 10px;
    top: 0;
    left: 0;
    height: 100%;
    width: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    border-radius: 30px;
}


.search-box:nth-child(3) .icon svg {
    transform: rotate(-20deg);
}

.search-box:nth-child(3).active {
    width: 70%;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(1, 1, 1, .5);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#cardForm {
    width: 40%;
    height: auto;
    max-width: 100%;
    background: #fff;
    padding: 30px 20px 30px 30px;
    border-left: 25px solid #FFBA49;
    border-radius: 5px;
}

#cardForm .form-title {
    /* text-align: center; */
    margin-bottom: 15px;
}

#cardForm input[type="text"], #cardForm input[type="submit"], #cardForm select, #cardForm input[type="date"] {
    padding: 15px 20px;
    display: block;
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #FFBA49;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 18px;
}

#cardForm input[type="text"].err, #cardForm select.err, #cardForm input[type="date"].err {
    border-bottom: 1px solid #EB4D4D;
    background: rgba(248, 210, 213, 0.26);
}

#cardForm .form-check {
    margin: 30px 0;
}

#cardForm .form-check label {
    display: inline;
}

#cardForm .form-check input {
    display: inline;
}

#cardForm input[type="submit"] {
    background: #FF5F6D;
    background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);
    background: linear-gradient(to right, #FFC371, #FF5F6D);
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition: .2s all ease-in-out;
}

#cardForm input[type="submit"]:hover {
    opacity: .9;
}

tr {
    transition: .2s all ease-in-out;
}

th.arrows .title-wrap {
    display: flex;
}

th.arrows .sort-wrap {
    position: relative;
    width: 20px;
    margin-left: 10px;
    height: 30px;
    display: flex;
}

th.arrows .sort-wrap .arrow {
    transition: .2s all ease-in-out;
}

th.arrows .sort-wrap .arrow:hover {
    opacity: .9;
}


th.arrows .sort-wrap .arrow.arrow-up {
    position: absolute;
    color: #fff;
    width: 0;
    height: 0;
    border-bottom: 8px solid;
    border-right: 8px solid transparent;
    border-top: 0;
    border-left: 8px solid transparent;
    z-index: 30;
    cursor: pointer;
    top: 5;
    border-radius: 2px;
}

th.arrows .sort-wrap .arrow.arrow-down{
    position: absolute;
    color: #fff;
    width: 0;
    height: 0;
    border-bottom: 0px;
    border-right: 8px solid transparent;
    border-top: 8px solid;
    border-left: 8px solid transparent;
    z-index: 30;
    cursor: pointer;
    bottom: 5;
    border-radius: 2px;
}

.close-wrap {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

#changeTables {
    position: absolute;
    bottom: 0px;
    right: 0;
    cursor: pointer;
}

#changeTables a{
   color: #fff;
   font-weight: 500;
   font-size: 16px;
}

#showCards {
    display: none;
}

#tableUsers {
    display: none;
}

.card-span {
    padding: 5px 8px;
    font-size: 14px;
    background: #43AA8B;
    border-radius: 3px;
    color: #fff;
    box-shadow: 1px 1px 1px rgba(1, 1, 1, .2);
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}

.card-span.expired {
    background: #FF5F6D;
}

@media (max-width: 1000px) {
    #cardForm {
        width: 70%;
    }
}